[
Command("forward", 3),
Command("down", 6),
Command("forward", 7),
Command("down", 4),
Command("down", 8),
Command("down", 6),
Command("down", 4),
Command("down", 6),
Command("forward", 7),
Command("down", 5),
Command("forward", 1),
Command("up", 7),
Command("up", 6),
Command("down", 1),
Command("down", 2),
Command("forward", 3),
Command("forward", 3),
Command("forward", 4),
Command("up", 9),
Command("up", 4),
Command("forward", 9),
Command("down", 2),
Command("down", 6),
Command("forward", 1),
Command("forward", 8),
Command("down", 2),
Command("up", 5),
Command("forward", 3),
Command("down", 5),
Command("forward", 2),
Command("forward", 4),
Command("down", 2),
Command("up", 3),
Command("up", 6),
Command("down", 2),
Command("down", 2),
Command("down", 8),
Command("forward", 6),
Command("up", 3),
Command("down", 1),
Command("forward", 4),
Command("forward", 7),
Command("up", 8),
Command("forward", 8),
Command("down", 6),
Command("down", 3),
Command("forward", 9),
Command("up", 9),
Command("forward", 1),
Command("forward", 7),
Command("down", 8),
Command("forward", 8),
Command("forward", 2),
Command("forward", 5),
Command("down", 2),
Command("forward", 3),
Command("forward", 1),
Command("forward", 3),
Command("forward", 6),
Command("forward", 9),
Command("up", 3),
Command("down", 6),
Command("down", 9),
Command("down", 4),
Command("down", 6),
Command("forward", 2),
Command("forward", 8),
Command("up", 8),
Command("down", 9),
Command("down", 1),
Command("down", 8),
Command("down", 7),
Command("forward", 8),
Command("forward", 5),
Command("down", 5),
Command("up", 9),
Command("up", 9),
Command("forward", 2),
Command("up", 4),
Command("forward", 4),
Command("up", 4),
Command("up", 3),
Command("up", 3),
Command("up", 4),
Command("down", 7),
Command("down", 9),
Command("down", 9),
Command("forward", 6),
Command("forward", 4),
Command("down", 9),
Command("down", 2),
Command("down", 2),
Command("down", 1),
Command("down", 8),
Command("down", 3),
Command("up", 2),
Command("down", 3),
Command("down", 6),
Command("down", 5),
Command("up", 7),
Command("forward", 3),
Command("forward", 3),
Command("forward", 2),
Command("forward", 5),
Command("forward", 6),
Command("down", 7),
Command("up", 9),
Command("down", 9),
Command("up", 2),
Command("up", 8),
Command("forward", 2),
Command("down", 1),
Command("up", 7),
Command("down", 8),
Command("up", 1),
Command("up", 2),
Command("up", 1),
Command("up", 1),
Command("forward", 1),
Command("down", 8),
Command("up", 4),
Command("up", 5),
Command("forward", 5),
Command("up", 1),
Command("down", 8),
Command("up", 5),
Command("down", 6),
Command("forward", 8),
Command("up", 4),
Command("forward", 7),
Command("down", 9),
Command("up", 2),
Command("forward", 2),
Command("down", 6),
Command("down", 4),
Command("up", 2),
Command("forward", 9),
Command("down", 9),
Command("forward", 9),
Command("down", 5),
Command("down", 9),
Command("forward", 5),
Command("up", 8),
Command("up", 6),
Command("down", 4),
Command("forward", 3),
Command("forward", 7),
Command("forward", 6),
Command("up", 6),
Command("down", 1),
Command("forward", 9),
Command("up", 5),
Command("down", 2),
Command("down", 1),
Command("forward", 6),
Command("down", 9),
Command("up", 7),
Command("up", 3),
Command("down", 9),
Command("down", 5),
Command("up", 3),
Command("forward", 6),
Command("up", 6),
Command("up", 4),
Command("down", 3),
Command("down", 4),
Command("down", 6),
Command("down", 6),
Command("up", 7),
Command("forward", 1),
Command("forward", 6),
Command("up", 5),
Command("up", 2),
Command("forward", 7),
Command("down", 6),
Command("up", 1),
Command("up", 3),
Command("forward", 6),
Command("up", 8),
Command("down", 8),
Command("down", 7),
Command("down", 9),
Command("forward", 3),
Command("forward", 7),
Command("forward", 5),
Command("forward", 1),
Command("down", 7),
Command("forward", 6),
Command("down", 7),
Command("up", 3),
Command("down", 9),
Command("down", 7),
Command("down", 1),
Command("forward", 9),
Command("forward", 9),
Command("forward", 3),
Command("down", 9),
Command("down", 3),
Command("forward", 8),
Command("down", 4),
Command("up", 4),
Command("up", 6),
Command("up", 5),
Command("up", 2),
Command("up", 6),
Command("forward", 1),
Command("down", 1),
Command("down", 5),
Command("up", 7),
Command("down", 4),
Command("up", 2),
Command("up", 4),
Command("down", 1),
Command("down", 7),
Command("down", 9),
Command("up", 1),
Command("down", 1),
Command("down", 3),
Command("forward", 3),
Command("forward", 9),
Command("forward", 5),
Command("down", 1),
Command("down", 7),
Command("down", 9),
Command("down", 9),
Command("down", 6),
Command("down", 5),
Command("forward", 4),
Command("down", 8),
Command("down", 2),
Command("down", 9),
Command("forward", 2),
Command("forward", 2),
Command("forward", 6),
Command("up", 2),
Command("forward", 6),
Command("forward", 2),
Command("down", 6),
Command("forward", 7),
Command("forward", 8),
Command("down", 7),
Command("up", 7),
Command("down", 5),
Command("up", 7),
Command("down", 2),
Command("down", 6),
Command("up", 1),
Command("down", 2),
Command("down", 6),
Command("forward", 3),
Command("down", 9),
Command("down", 3),
Command("forward", 6),
Command("up", 7),
Command("down", 9),
Command("down", 7),
Command("down", 3),
Command("down", 6),
Command("forward", 5),
Command("forward", 9),
Command("down", 3),
Command("down", 6),
Command("down", 3),
Command("down", 8),
Command("forward", 9),
Command("down", 8),
Command("down", 4),
Command("down", 6),
Command("up", 8),
Command("forward", 3),
Command("forward", 3),
Command("down", 2),
Command("down", 1),
Command("forward", 3),
Command("down", 8),
Command("down", 2),
Command("forward", 4),
Command("down", 2),
Command("forward", 5),
Command("down", 8),
Command("down", 5),
Command("forward", 4),
Command("down", 6),
Command("forward", 3),
Command("forward", 4),
Command("up", 5),
Command("up", 5),
Command("down", 8),
Command("down", 1),
Command("up", 5),
Command("down", 7),
Command("up", 3),
Command("forward", 5),
Command("forward", 1),
Command("forward", 7),
Command("forward", 6),
Command("down", 5),
Command("down", 9),
Command("down", 5),
Command("down", 9),
Command("down", 6),
Command("down", 4),
Command("down", 7),
Command("down", 5),
Command("down", 9),
Command("up", 4),
Command("down", 2),
Command("down", 4),
Command("up", 6),
Command("forward", 8),
Command("forward", 9),
Command("up", 4),
Command("down", 6),
Command("down", 1),
Command("forward", 6),
Command("forward", 1),
Command("forward", 6),
Command("down", 9),
Command("forward", 9),
Command("down", 8),
Command("up", 9),
Command("down", 5),
Command("forward", 1),
Command("forward", 5),
Command("down", 7),
Command("forward", 2),
Command("forward", 3),
Command("down", 1),
Command("down", 1),
Command("up", 9),
Command("down", 7),
Command("down", 6),
Command("forward", 4),
Command("down", 9),
Command("forward", 8),
Command("up", 7),
Command("forward", 2),
Command("forward", 7),
Command("forward", 2),
Command("down", 5),
Command("down", 8),
Command("down", 7),
Command("down", 4),
Command("up", 7),
Command("down", 6),
Command("up", 5),
Command("up", 1),
Command("down", 2),
Command("forward", 2),
Command("forward", 4),
Command("down", 3),
Command("down", 2),
Command("down", 5),
Command("forward", 7),
Command("forward", 1),
Command("forward", 7),
Command("forward", 3),
Command("forward", 2),
Command("forward", 8),
Command("up", 3),
Command("down", 2),
Command("forward", 6),
Command("down", 6),
Command("up", 2),
Command("down", 4),
Command("forward", 8),
Command("forward", 6),
Command("up", 7),
Command("down", 9),
Command("forward", 7),
Command("down", 8),
Command("up", 3),
Command("down", 5),
Command("forward", 7),
Command("forward", 5),
Command("forward", 4),
Command("up", 9),
Command("down", 1),
Command("down", 7),
Command("forward", 1),
Command("forward", 8),
Command("forward", 2),
Command("forward", 2),
Command("forward", 2),
Command("up", 8),
Command("up", 4),
Command("down", 7),
Command("forward", 3),
Command("forward", 7),
Command("up", 4),
Command("forward", 4),
Command("down", 1),
Command("forward", 9),
Command("forward", 3),
Command("up", 2),
Command("forward", 3),
Command("down", 1),
Command("down", 7),
Command("up", 8),
Command("up", 5),
Command("up", 2),
Command("forward", 9),
Command("up", 6),
Command("forward", 2),
Command("forward", 4),
Command("forward", 6),
Command("down", 4),
Command("forward", 6),
Command("down", 6),
Command("down", 2),
Command("down", 1),
Command("up", 5),
Command("down", 3),
Command("forward", 4),
Command("down", 5),
Command("forward", 3),
Command("up", 6),
Command("down", 1),
Command("down", 3),
Command("up", 3),
Command("forward", 7),
Command("down", 8),
Command("forward", 8),
Command("forward", 2),
Command("down", 2),
Command("up", 6),
Command("down", 7),
Command("forward", 6),
Command("forward", 7),
Command("forward", 3),
Command("down", 1),
Command("forward", 9),
Command("down", 7),
Command("forward", 8),
Command("forward", 3),
Command("forward", 1),
Command("forward", 1),
Command("down", 1),
Command("up", 4),
Command("forward", 9),
Command("down", 1),
Command("down", 1),
Command("down", 5),
Command("forward", 9),
Command("forward", 4),
Command("forward", 9),
Command("down", 3),
Command("down", 7),
Command("down", 9),
Command("up", 1),
Command("up", 1),
Command("up", 8),
Command("forward", 3),
Command("down", 8),
Command("forward", 8),
Command("up", 5),
Command("up", 4),
Command("down", 5),
Command("down", 6),
Command("forward", 5),
Command("down", 4),
Command("forward", 7),
Command("down", 7),
Command("forward", 2),
Command("down", 4),
Command("forward", 6),
Command("down", 7),
Command("down", 7),
Command("down", 4),
Command("forward", 1),
Command("forward", 4),
Command("down", 7),
Command("up", 4),
Command("down", 3),
Command("forward", 8),
Command("forward", 5),
Command("down", 2),
Command("up", 9),
Command("down", 9),
Command("up", 2),
Command("down", 6),
Command("down", 4),
Command("forward", 6),
Command("down", 4),
Command("up", 4),
Command("up", 7),
Command("up", 2),
Command("down", 8),
Command("up", 3),
Command("down", 9),
Command("up", 6),
Command("down", 2),
Command("forward", 6),
Command("down", 2),
Command("forward", 8),
Command("forward", 2),
Command("forward", 5),
Command("up", 3),
Command("down", 7),
Command("down", 1),
Command("forward", 8),
Command("down", 9),
Command("forward", 5),
Command("up", 9),
Command("forward", 7),
Command("up", 3),
Command("up", 2),
Command("down", 9),
Command("down", 1),
Command("forward", 1),
Command("forward", 3),
Command("forward", 2),
Command("forward", 2),
Command("forward", 7),
Command("up", 6),
Command("forward", 5),
Command("up", 3),
Command("up", 7),
Command("down", 7),
Command("forward", 7),
Command("forward", 1),
Command("down", 1),
Command("up", 3),
Command("up", 6),
Command("down", 5),
Command("up", 1),
Command("down", 5),
Command("down", 2),
Command("down", 3),
Command("up", 7),
Command("up", 6),
Command("up", 9),
Command("down", 9),
Command("forward", 4),
Command("up", 7),
Command("forward", 3),
Command("down", 7),
Command("up", 3),
Command("forward", 1),
Command("down", 7),
Command("forward", 5),
Command("up", 9),
Command("up", 9),
Command("down", 6),
Command("forward", 2),
Command("up", 5),
Command("forward", 5),
Command("down", 2),
Command("forward", 6),
Command("down", 4),
Command("up", 1),
Command("forward", 1),
Command("down", 1),
Command("up", 2),
Command("down", 4),
Command("down", 3),
Command("forward", 7),
Command("up", 3),
Command("down", 8),
Command("forward", 9),
Command("up", 8),
Command("down", 7),
Command("down", 6),
Command("up", 6),
Command("forward", 5),
Command("up", 8),
Command("down", 1),
Command("down", 4),
Command("up", 3),
Command("forward", 2),
Command("up", 5),
Command("down", 1),
Command("forward", 1),
Command("forward", 7),
Command("down", 3),
Command("down", 2),
Command("forward", 8),
Command("down", 4),
Command("down", 3),
Command("down", 6),
Command("forward", 8),
Command("down", 3),
Command("up", 2),
Command("down", 4),
Command("up", 7),
Command("forward", 9),
Command("up", 2),
Command("up", 6),
Command("down", 1),
Command("down", 5),
Command("up", 9),
Command("forward", 6),
Command("up", 7),
Command("forward", 8),
Command("down", 7),
Command("up", 1),
Command("forward", 7),
Command("up", 2),
Command("forward", 4),
Command("forward", 1),
Command("down", 7),
Command("down", 5),
Command("forward", 3),
Command("forward", 6),
Command("up", 3),
Command("up", 1),
Command("forward", 8),
Command("forward", 4),
Command("down", 8),
Command("down", 2),
Command("down", 6),
Command("down", 2),
Command("down", 9),
Command("down", 7),
Command("down", 3),
Command("down", 3),
Command("down", 9),
Command("up", 8),
Command("forward", 1),
Command("down", 5),
Command("up", 4),
Command("forward", 6),
Command("up", 5),
Command("up", 9),
Command("down", 9),
Command("up", 5),
Command("up", 9),
Command("forward", 8),
Command("up", 4),
Command("forward", 3),
Command("down", 3),
Command("forward", 4),
Command("down", 8),
Command("down", 8),
Command("forward", 8),
Command("down", 1),
Command("forward", 8),
Command("down", 2),
Command("forward", 7),
Command("up", 1),
Command("forward", 6),
Command("down", 8),
Command("up", 1),
Command("down", 6),
Command("down", 1),
Command("forward", 3),
Command("forward", 3),
Command("down", 7),
Command("up", 6),
Command("up", 2),
Command("down", 9),
Command("up", 5),
Command("forward", 6),
Command("down", 3),
Command("down", 8),
Command("forward", 6),
Command("down", 7),
Command("down", 5),
Command("forward", 9),
Command("down", 5),
Command("forward", 4),
Command("down", 7),
Command("forward", 5),
Command("down", 6),
Command("down", 3),
Command("down", 9),
Command("down", 8),
Command("down", 1),
Command("forward", 4),
Command("down", 9),
Command("up", 4),
Command("down", 3),
Command("down", 8),
Command("forward", 5),
Command("forward", 9),
Command("up", 7),
Command("up", 5),
Command("up", 5),
Command("up", 8),
Command("down", 6),
Command("up", 7),
Command("forward", 7),
Command("forward", 4),
Command("down", 6),
Command("forward", 6),
Command("up", 4),
Command("down", 7),
Command("down", 2),
Command("forward", 6),
Command("down", 9),
Command("down", 1),
Command("forward", 3),
Command("forward", 9),
Command("forward", 8),
Command("down", 4),
Command("forward", 6),
Command("forward", 6),
Command("forward", 7),
Command("down", 8),
Command("down", 8),
Command("forward", 6),
Command("down", 9),
Command("forward", 9),
Command("down", 7),
Command("down", 5),
Command("down", 8),
Command("forward", 6),
Command("down", 5),
Command("forward", 9),
Command("down", 6),
Command("forward", 9),
Command("forward", 4),
Command("forward", 1),
Command("up", 4),
Command("forward", 5),
Command("down", 6),
Command("forward", 8),
Command("forward", 3),
Command("up", 3),
Command("up", 2),
Command("up", 7),
Command("forward", 3),
Command("up", 3),
Command("forward", 4),
Command("forward", 3),
Command("up", 4),
Command("up", 1),
Command("down", 9),
Command("forward", 8),
Command("down", 7),
Command("down", 2),
Command("down", 4),
Command("up", 6),
Command("forward", 6),
Command("down", 6),
Command("up", 7),
Command("forward", 4),
Command("down", 4),
Command("forward", 7),
Command("forward", 6),
Command("down", 9),
Command("down", 1),
Command("up", 3),
Command("forward", 2),
Command("up", 2),
Command("down", 9),
Command("forward", 6),
Command("forward", 8),
Command("down", 8),
Command("down", 5),
Command("forward", 2),
Command("forward", 6),
Command("forward", 9),
Command("forward", 9),
Command("down", 5),
Command("up", 4),
Command("down", 6),
Command("forward", 7),
Command("forward", 9),
Command("up", 6),
Command("forward", 4),
Command("up", 7),
Command("forward", 7),
Command("down", 4),
Command("forward", 7),
Command("forward", 4),
Command("up", 5),
Command("forward", 6),
Command("down", 2),
Command("down", 3),
Command("up", 2),
Command("forward", 4),
Command("forward", 8),
Command("up", 5),
Command("up", 7),
Command("down", 9),
Command("forward", 2),
Command("forward", 9),
Command("forward", 8),
Command("forward", 5),
Command("down", 5),
Command("down", 8),
Command("down", 3),
Command("up", 9),
Command("down", 2),
Command("down", 6),
Command("up", 4),
Command("forward", 8),
Command("forward", 8),
Command("up", 6),
Command("forward", 8),
Command("down", 3),
Command("forward", 3),
Command("up", 7),
Command("forward", 2),
Command("down", 8),
Command("forward", 8),
Command("forward", 6),
Command("forward", 3),
Command("up", 2),
Command("forward", 8),
Command("forward", 5),
Command("down", 9),
Command("up", 1),
Command("down", 3),
Command("down", 1),
Command("up", 5),
Command("up", 7),
Command("up", 8),
Command("down", 9),
Command("forward", 4),
Command("forward", 1),
Command("down", 6),
Command("forward", 8),
Command("forward", 8),
Command("forward", 4),
Command("down", 7),
Command("down", 8),
Command("forward", 5),
Command("down", 2),
Command("forward", 5),
Command("forward", 9),
Command("down", 7),
Command("down", 8),
Command("forward", 5),
Command("down", 1),
Command("down", 7),
Command("down", 4),
Command("forward", 2),
Command("down", 1),
Command("forward", 7),
Command("up", 1),
Command("up", 7),
Command("forward", 4),
Command("forward", 2),
Command("forward", 3),
Command("forward", 5),
Command("forward", 7),
Command("up", 3),
Command("down", 1),
Command("down", 9),
Command("forward", 8),
Command("forward", 9),
Command("forward", 5),
Command("up", 3),
Command("down", 5),
Command("forward", 4),
Command("down", 9),
Command("forward", 1),
Command("forward", 4),
Command("up", 3),
Command("forward", 4),
Command("down", 9),
Command("up", 9),
Command("down", 3),
Command("forward", 1),
Command("forward", 9),
Command("up", 8),
Command("forward", 4),
Command("up", 2),
Command("down", 1),
Command("down", 5),
Command("down", 4),
Command("down", 3),
Command("forward", 4),
Command("forward", 9),
Command("forward", 1),
Command("up", 6),
Command("down", 1),
Command("down", 3),
Command("forward", 8),
Command("forward", 3),
Command("down", 6),
Command("forward", 2),
Command("down", 6),
Command("down", 2),
Command("forward", 4),
Command("forward", 7),
Command("forward", 4),
Command("up", 4),
Command("up", 8),
Command("up", 7),
Command("up", 9),
Command("forward", 3),
Command("forward", 1),
Command("down", 9),
Command("down", 5),
Command("forward", 6),
Command("forward", 6),
Command("forward", 2),
Command("down", 8),
Command("down", 4),
Command("down", 2),
Command("down", 7),
Command("up", 2),
Command("forward", 7),
Command("forward", 5),
Command("forward", 5),
Command("forward", 1),
Command("down", 9),
Command("forward", 3),
Command("forward", 3),
Command("down", 8),
Command("forward", 3),
Command("down", 5),
Command("down", 2),
Command("forward", 3),
Command("up", 3),
Command("forward", 5),
Command("down", 8),
Command("forward", 6),
Command("forward", 6),
Command("forward", 9),
Command("forward", 9),
Command("forward", 8),
Command("forward", 4),
Command("forward", 6),
Command("forward", 6),
Command("up", 7),
Command("down", 6),
Command("down", 6),
Command("forward", 6),
Command("up", 5),
Command("forward", 6),
Command("down", 8),
Command("down", 5),
Command("down", 8),
Command("down", 8),
Command("up", 5),
Command("down", 2),
Command("forward", 4),
Command("down", 2),
Command("up", 6),
Command("down", 8),
Command("down", 4),
Command("up", 3),
Command("up", 2),
Command("down", 1),
Command("forward", 2),
Command("forward", 6),
Command("down", 7),
Command("forward", 7),
Command("down", 6),
Command("down", 2),
Command("down", 3),
Command("down", 6),
Command("forward", 4),
Command("up", 1),
Command("forward", 7),
Command("down", 4),
Command("forward", 8),
Command("forward", 9),
Command("forward", 6),
Command("down", 1),
Command("forward", 8),
Command("down", 7),
Command("up", 9),
Command("down", 5),
Command("forward", 4),
Command("forward", 3),
Command("down", 8),
Command("down", 5),
Command("down", 4),
Command("forward", 7),
Command("down", 9),
Command("down", 2),
Command("forward", 3),
Command("down", 7),
Command("up", 1),
Command("forward", 4),
Command("down", 3),
Command("up", 4),
Command("down", 2),
Command("down", 7),
Command("down", 1),
Command("down", 3),
Command("forward", 5),
Command("forward", 5),
Command("down", 2),
Command("up", 2),
Command("down", 8),
Command("forward", 8),
Command("down", 5),
Command("forward", 9),
Command("down", 5),
Command("forward", 6),
Command("forward", 9),
Command("forward", 3),
Command("down", 5),
Command("down", 2),
Command("down", 8),
Command("up", 9),
Command("up", 8),
Command("down", 8),
Command("forward", 4),
Command("up", 5),
Command("forward", 1),
Command("up", 4),
Command("down", 1),
Command("forward", 2),
]
